body,
table,
input,
select,
textarea {
}

.table {
  height: 100%;
}
.graph {
  margin-bottom: 1em;

  height: 100%;
}

.graph caption {
  padding-bottom: 0.33em;
  text-align: left;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.graph tbody th {
  text-align: right;
}

@supports (display: grid) {
  @media (min-width: 10rem) {
    .graph {
      display: block;
      max-width: 90rem;
      height: 10rem;
    }

    .graph caption {
      display: block;
    }

    .graph thead {
      display: none;
    }

    .graph tbody {
      position: relative;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
      column-gap: 2.3%;
      align-items: end;
      height: 100%;
      /* margin: 3em 0 1em 2.8em; */
      padding: 0 0.6rem;
      margin-top: 2rem;
      padding-bottom: 2rem;
      margin-bottom: 1rem;
    }

    /* .graph tbody:before,
    .graph tbody:after {
      position: absolute;
      left: -3.2em;
      width: 2.8em;
      text-align: right;
      font: bold 80%/120% arial, helvetica, sans-serif;
    } */

    /* .graph tbody:before {
      content: "100%";
      top: -0.6em;
    } */

    /* .graph tbody:after {
      content: "0%";
      bottom: -0.6em;
    } */

    .graph tr {
      position: relative;
      display: block;
    }

    .graph tr:hover {
      z-index: 999;
    }

    .graph th,
    .graph td {
      display: block;
    }
    .graph td {
      text-align: center;
    }

    .graph tbody th {
      position: absolute;
      bottom: -1.5rem;
      left: 0;
      width: 100%;
      font-weight: normal;
      text-align: center;
      white-space: nowrap;
      text-indent: 0;
      font-size: 0.8rem;
      color: #93867b;
      text-transform: lowercase;
    }

    .graph td {
      max-width: 93%;
      height: 100%;
      background: #f63;
      border-radius: 0.5em 0.5em 0 0;
      transition: background 0.5s;
    }

    .graph tr:hover td {
      opacity: 0.7;
    }
    .graph td.valid {
      background: #76b5bc;
    }
    .graph td span {
      overflow: hidden;
      position: absolute;
      left: 50%;
      top: -1.5rem;
      width: 0;
      padding: 0.2rem 0;
      margin: -1em 0 0;
      border-radius: 0.1rem;

      opacity: 0;
      transition: opacity 0.5s;
      color: white;
      background-color: #382314;
    }

    .toggleGraph:checked + table td span,
    .graph tr:hover td span {
      width: 3.4rem;
      margin-left: -1.7rem; /* 1/2 the declared width */
      opacity: 1;
    }
  } /* min-width:32em */
} /* grid only */
